version: "3.8"

services:
  sftp:
    image: atmoz/sftp
    volumes:
      - sftp_data:/home
    ports:
      - "2222:22"
    command: >
      bronx:pass:::ingress/
      healtheconn:pass:::ingress/
      grrhio:pass:::ingress/
      healthix:pass:::ingress/
      healthelink:pass:::ingress/
      hixny:pass:::ingress/
      observe:pass:::log/
  workflow:
    build:
      context: .
      dockerfile: Dockerfile.workflow
      args:
        - REPO_URL=https://github.com/qe-collaborative-services/1115-hub.git
    volumes:
      - sftp_data:/SFTP
    depends_on:
      - sftp

volumes:
  sftp_data:
